<p-dataView #dv [value]="itemsFiltered" layout="grid" filterBy="nombre">
    <p-header>
        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
            <i class="pi pi-search"></i>
            <input type="search" pInputText placeholder="Buscar por nombre" (input)="dv.filter($event.target.value)">
        </span>
        <!--Se me ocurre manipular la lista de "items" que se maneja arriba en el dataview, puede funcionar-->
        <p-dropdown [options]="categorias" [(ngModel)]="seleccionado" (onChange)="cambio()"></p-dropdown>
    </p-header>
    <ng-template let-item pTemplate="gridItem">
        <div class="card">
            <div>
                <i class="pi pi-tag product-category-icon"></i>
                <span class="product-category">{{item.categoria}}</span>
            </div>
            <div class="product-list-item">
                <img src="../../assets/images/arreglo1.png" alt="" class="card-img">
                <div class="product-list-detail">
                    <div class="product-name">{{item.nombre}}</div>
                    <div class="product-description">{{item.descripcion}}</div>
                    <p-rating [(ngModel)]="item.rating" [readonly]="true" [cancel]="false"></p-rating>
                </div>
            </div>
        </div>
    </ng-template>

</p-dataView>