<div class="container-fluid mt-3 mb-3">
    <div class="container-fluid text-center mb-5">
        <h1>Detalles destacados</h1>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="container2">
                <img src="../../../assets/images/foto1.jpeg" alt="Avatar" class="image responsive shadow mb-3">
                <div class="overlay">
                    <div class="text">"Aprendamos a volar juntos en nuestro primer aniversario"</div>
                </div>
            </div>
            <div class="container2">
                <img src="../../../assets/images/foto2.jpeg" alt="Avatar" class="image responsive shadow mt-1">
                <div class="overlay">
                    <div class="text">"Entre claveles y rosas creamos una explosión floral"</div>
                </div>
            </div>

        </div>
        <div class="col-4">
            <div class="container2">
                <img src="../../../assets/images/foto4.jpeg" alt="Avatar" class="image responsive shadow mb-3">
                <div class="overlay">
                    <div class="text">"Eres única y diferente kokoyo"</div>
                </div>
            </div>
            <div class="container2">
                <img src="../../../assets/images/foto3.jpeg" alt="Avatar" class="image responsive shadow mt-1">
                <div class="overlay">
                    <div class="text">"Con mucho amor para mi esposa"</div>
                </div>
            </div>

        </div>
        <div class="col-4">
            <div class="container2">
                <img src="../../../assets/images/foto6.jpeg" alt="Avatar" class="image responsive shadow mb-3">
                <div class="overlay">
                    <div class="text">"Feliz san valentín mi muñeca especial"</div>
                </div>
            </div>
            <div class="container2">
                <img src="../../../assets/images/foto5.jpeg" alt="Avatar" class="image responsive shadow mt-1">
                <div class="overlay">
                    <div class="text">"Creando un camino juntos"</div>
                </div>
            </div>
           
        </div>
    </div>
</div>