<div class="container-fluid mt-3 mb-3">
    <div class="row align-items-center">
        <div class="col-4 align-items-center">
            <div class="container2">
                <img src="../../../assets/images/flores1.jpg" alt="Avatar" class="image">
                <div class="overlay">
                    <div class="text">Te</div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="container2">
                <img src="../../../assets/images/flores1.jpg" alt="Avatar" class="image responsive shadow mb-3">
                <div class="overlay">
                    <div class="text">amo</div>
                </div>
            </div>
            <div class="container2">
                <img src="../../../assets/images/flores2.jpg" alt="Avatar" class="image responsive shadow mt-1">
                <div class="overlay">
                    <div class="text">vida</div>
                </div>
            </div>

        </div>
        <div class="col-4">
            <div class="container2">
                <img src="../../../assets/images/flores2.jpg" alt="Avatar" class="image responsive shadow mb-3">
                <div class="overlay">
                    <div class="text">mi</div>
                </div>
            </div>
            <div class="container2">
                <img src="../../../assets/images/flores1.jpg" alt="Avatar" class="image responsive shadow mt-1">
                <div class="overlay">
                    <div class="text">hermosa</div>
                </div>
            </div>
           
        </div>
    </div>
</div>