<div class="container-fluid">
    <h2>Agregar items</h2>
</div>
<hr>
<p-toast position="top-right"></p-toast>
<div class="container-fluid">
    <div class="box">
        <form [formGroup]='newItem' (ngSubmit)='agregar()'>
            <div class="form-group">
                <label>Nombre</label>
                <input formControlName='nombre' type="text" class="form-control" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label>Descripción</label>
                <textarea formControlName='descripcion' class="form-control" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label>Categoría</label>
                <select formControlName='categoria' class="form-control">
                    <option>ramos</option>
                    <option>box floral</option>
                    <option>peluches</option>
                    <option>globos</option>
                    <option>cajas personalizadas</option>
                </select>
            </div>
            <div class="form-group">
                <label>Precio (S/.)</label>
                <input formControlName='precio' type="number" class="form-control">
            </div>
            <div class="form-group">
                <label>Rating (1-5)</label>
                <input formControlName='rating' type="number" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Agregar al catálogo</button>
        </form>
    </div>
</div>