.footer{
    background-color: #f4f3f3;

    min-height: 50px;
    vertical-align: middle;
}
.footer-img{
    height: 30px;
}
.footer-text{
    margin-bottom: 0.65rem;
}
img:hover {
    opacity: 0.4;
  }