<div class="container-fluid text-center footer pt-3 pb-3">
    <div>
        <p class="footer-text">Fiducia &copy; www.fiducia.com</p>
    </div>
    <div class="row no-gutters">
        <div class="col">
            <a href="https://www.instagram.com/detalles_fiducia/" target="_blank"><img src="../../../../assets/icons/instagram.svg" alt="instagram" class="footer-img float-right"></a>
        </div>
        <div class="col-1">
            <a href="https://www.facebook.com/detallesfiducia" target="_blank"><img src="../../../../assets/icons/facebook.svg" alt="facebook" class="footer-img"></a>
        </div>
        <div class="col">
            <a href="" target="_blank"><img src="../../../../assets/icons/whatsapp.svg" alt="whatsapp" class="footer-img rounded float-left"></a>
        </div>
    </div>
</div>